name: CI/CD MLflow Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  IMAGE_NAME: spotify-churn-model
  DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}

jobs:
  train-build-push:
    runs-on: ubuntu-latest

    steps:
    - name: Run actions/checkout@v4
      uses: actions/checkout@v4

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.7"

    - name: Check Env
      run: |
        echo "Python Version:"
        python --version
        echo "Pip Version:"
        pip --version
        echo "Working directory:"
        pwd

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local

    - name: Get Latest Run ID
      run: |
        RUN_ID=$(ls -td mlruns/0/*/ | head -n 1 | cut -d'/' -f3)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Latest MLflow Run ID: $RUN_ID"

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: mlruns/

    - name: Build Docker Image
      run: |
        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n "$DOCKER_USER/$IMAGE_NAME:latest" \
          --enable-mlserver

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Tag Docker Image
      run: |
        docker tag  "$DOCKER_USER/$IMAGE_NAME:latest" \
                    "$DOCKER_USER/$IMAGE_NAME:$RUN_ID"

    - name: Push Docker Image
      run: |
        docker push "$DOCKER_USER/$IMAGE_NAME:latest"
        docker push "$DOCKER_USER/$IMAGE_NAME:$RUN_ID"
